body{
    margin: 0px;
}
.header{
    margin: 40px 0px;
}
.header img{
    height: 90px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}
.box{
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
    font-size: 22px;
    text-align: center;
    background-color: rgb(25, 35, 128);
    color: white;
    border-radius: 20px;
    margin: 0px 10px 20px 10px;
    padding: 20px;
}

p{
    margin: 0px;
}
.blue{
    background-color: rgb(25, 35, 128);
}
.green{
    background-color: green;
}
.map-link{
    border-radius: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}
